.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-rotate: 90;
    -fx-font: 16px UniSansW01-LightItalic;
}

.tab-pane {
    -fx-background-color: white;
    -fx-tab-min-width: 70px;
    -fx-tab-max-width: 70px;
    -fx-tab-min-height: 65px;
    -fx-tab-max-height: 65px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: white;
    -fx-border-color: white;
}

.tab-pane .tab:selected {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: #D81E05; 
    -fx-padding: 10px;
    -fx-background-radius: 0px;
    -fx-focus-color: transparent;
    -fx-font-size: 14px;
}

.tab-header-area {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.tab-pane .headers-region {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.tab:hover {
    -fx-background-color: #b54343;
}


.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}