.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-rotate: 90;
}

.tab-pane {
    -fx-tab-min-width: 30px;
    -fx-tab-min-height: 70px;
    -fx-tab-max-height: 70px;
}

.tab-pane *.tab-header-background {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: #D81E05; 
}

.grid {
    -fx-background-color: #D81E05;
}
